.pp-hidden {
  display: none !important;
}

.pp-no-trans {
  -webkit-transition: none;
  transition: none;
}

.pp-media-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}

.pp-media-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.pp-icon {
  display: inline-block;
  line-height: 1;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pp-icon i,
.pp-icon svg {
  width: 1em;
  height: 1em;
  position: relative;
  display: block;
}

.pp-album {
  position: relative;
}
.pp-album a {
  cursor: pointer;
}

.pp-album-cover-wrap {
  height: 300px;
}

.pp-album-cover {
  height: 100%;
  overflow: hidden;
}
.pp-album-cover img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}

.pp-album-content-wrap {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}

.pp-album-cover-caption {
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}

.pp-album-cover-button-position-inline .pp-album-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.pp-album-trigger-button {
  cursor: pointer;
}

.pp-album-button-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pp-album-trigger-icon-before .pp-album-button-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.pp-fancybox-thumbs-x.fancybox-show-thumbs .fancybox-inner {
  left: 0;
  bottom: 95px;
}
.pp-fancybox-thumbs-x .fancybox-thumbs {
  top: auto;
  width: auto;
  bottom: 0;
  right: 0;
  left: 0;
  height: 95px;
  padding: 10px 10px 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 1024px) {
  .pp-album-cover-button-tablet-position-inline .pp-album-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .pp-album-cover-button-tablet-position-bottom .pp-album-content {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .pp-album-cover-button-mobile-position-inline .pp-album-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .pp-album-cover-button-mobile-position-bottom .pp-album-content {
    display: block;
  }
}