.pp-icon {
  display: inline-block;
  line-height: 1;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pp-icon i,
.pp-icon svg {
  width: 1em;
  height: 1em;
  position: relative;
  display: block;
}

.pp-image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.pp-device-wrap {
  margin: 0 auto;
  display: inline-block;
  max-width: 100%;
  width: 280px;
  -webkit-transition: 0.3s cubic-bezier(0.42, 0, 0.2, 1);
  transition: 0.3s cubic-bezier(0.42, 0, 0.2, 1);
  -webkit-transition-property: width, padding-bottom;
  transition-property: width, padding-bottom;
}

.pp-device-container {
  width: 100%;
  text-align: center;
  -webkit-transition: 0.3s cubic-bezier(0.42, 0, 0.2, 1);
  transition: 0.3s cubic-bezier(0.42, 0, 0.2, 1);
}

.pp-device {
  position: relative;
  height: 0;
  padding-bottom: 207.22022%;
  max-width: 100%;
  width: 100%;
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.42, 0, 0.2, 1);
}
.pp-device .pp-video {
  height: 100%;
  width: 100%;
}
.pp-device .pp-video-container {
  padding: 0;
  height: 100%;
  overflow: visible;
}

.pp-device-body {
  width: 100%;
}

.pp-device-body svg {
  display: block;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.42, 0, 0.2, 1);
}

.pp-device-media {
  position: absolute;
  right: 50%;
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.42, 0, 0.2, 1);
  border-radius: 3px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 90.69767%;
  top: 10.8%;
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  border-radius: 3px;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.2, 1);
  z-index: 1;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.pp-device-media img {
  vertical-align: middle;
}

.pp-device-media-inner {
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  right: 0;
  width: 100%;
  height: 0;
  padding-bottom: 177.77778%;
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.42, 0, 0.2, 1);
}

.pp-device-screen {
  overflow: hidden;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  border-radius: 3px;
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.42, 0, 0.2, 1);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pp-device-screen-play {
  cursor: pointer;
}

.pp-device-image-fit-cover .pp-device-screen-image figure,
.pp-device-image-fit-fill .pp-device-screen-image figure {
  height: 100%;
  width: 100%;
}
.pp-device-image-fit-cover .pp-device-screen-image img,
.pp-device-image-fit-fill .pp-device-screen-image img {
  height: 100%;
  width: 100%;
  -o-object-position: center;
     object-position: center;
}

.pp-device-image-fit-cover .pp-device-screen-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.pp-device-image-fit-fill .pp-device-screen-image img {
  -o-object-fit: fill;
     object-fit: fill;
}

.pp-player-controls-overlay {
  text-align: center;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  z-index: 10;
}

.pp-player-controls-rewind .fa-redo,
.pp-player-controls-rewind .e-fas-fa-redo {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-filter: FlipH;
          filter: FlipH;
}

.pp-video-container {
  background-color: #000;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.pp-video-play-icon {
  cursor: pointer;
  font-size: 80px;
  right: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  text-align: center;
  z-index: 10;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}
.pp-video-play-icon img {
  display: block;
}

.pp-video-play {
  color: #333;
}

.pp-video-player .pp-video-thumb,
.pp-video-player iframe,
.pp-video-player video {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
.pp-video-player .pp-video-thumb {
  border: none;
  bottom: 0;
  cursor: pointer;
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  left: 0;
  margin: 0;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}
.pp-video-player iframe {
  height: 100%;
  z-index: 1;
}
.pp-video-player .pp-media-content {
  z-index: 2;
}

.pp-video {
  position: relative;
}
.pp-video .pp-video-player .pp-video-thumb {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pp-video-button {
  color: #000000;
  background-color: #FFFFFF;
  opacity: 0.9;
  padding: 2%;
  cursor: pointer;
  display: inline-table !important;
}

.pp-video-button::before {
  font-size: 25px;
  vertical-align: middle;
}

.pp-video-player-controls {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.pp-video-player-controls-bar-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.42, 0, 0.2, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.42, 0, 0.2, 1);
  transition: transform 0.4s cubic-bezier(0.42, 0, 0.2, 1);
  transition: transform 0.4s cubic-bezier(0.42, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.42, 0, 0.2, 1);
}

.pp-device-screen.pp-playing .pp-video-player-controls-bar-wrapper {
  z-index: 2;
}

.pp-player-controls-bar {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 2px;
}
.pp-player-controls-bar .pp-player-controls-time,
.pp-player-controls-bar .pp-player-controls-duration {
  padding: 3px;
  font-size: 12px;
}

.pp-player-control-icon,
.pp-player-controls-progress {
  cursor: pointer;
}

.pp-player-control-icon {
  cursor: pointer;
  font-size: 12px;
  padding: 0 6px;
}

.pp-player-controls-progress {
  margin: 0 2px;
  height: 0.6em;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.pp-player-control-progress-inner {
  background: #000;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.pp-player-controls-progress-time,
.pp-player-controls-volume-bar-track {
  opacity: 0.2;
  left: 0;
}

.pp-player-controls-volume {
  display: contents;
}

.pp-player-controls-volume-bar {
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
}

.pp-player-controls-volume-bar-amount {
  width: 100%;
}

.pp-device-screen.pp-playing .pp-video-player-controls {
  opacity: 0;
}
.pp-device-screen.pp-playing:hover .pp-video-player-controls {
  opacity: 1;
}

.pp-device-type-laptop .pp-video-player,
.pp-device-type-window .pp-video-player {
  height: 100%;
}

.pp-video-player video {
  display: block;
  width: 100%;
  height: 100%;
}

.pp-video-player video {
  -o-object-fit: cover;
     object-fit: cover;
}

.pp-device-body svg .overlay-shape {
  fill-opacity: 0.4;
}

.pp-device-body svg .borders-shape {
  fill-opacity: 0.1;
}

.pp-device-type-phone .pp-device-media {
  top: 11.7%;
  width: 88.80866%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.pp-device-type-iphone-13 .pp-device-wrap {
  width: 285px;
}
.pp-device-type-iphone-13 .pp-device {
  padding-bottom: 204.22022%;
}
.pp-device-type-iphone-13 .pp-device-body {
  pointer-events: none;
  position: relative;
  z-index: 5;
}
.pp-device-type-iphone-13 .pp-device-media {
  border-radius: 6%;
  top: 1.55%;
  width: 92.46%;
}
.pp-device-type-iphone-13 .pp-device-media-inner {
  padding-bottom: 213.87%;
}

.pp-device-type-iphone-16 .pp-device-wrap {
  width: 285px;
}
.pp-device-type-iphone-16 .pp-device {
  padding-bottom: 204.22022%;
}
.pp-device-type-iphone-16 .pp-device-body {
  pointer-events: none;
  position: relative;
  z-index: 5;
}
.pp-device-type-iphone-16 .pp-device-media {
  border-radius: 6%;
  top: 1.07%;
  width: 94.65%;
}
.pp-device-type-iphone-16 .pp-device-media-inner {
  padding-bottom: 211.37%;
}

.pp-device-type-tablet .pp-device-wrap {
  width: 430px;
}
.pp-device-type-tablet .pp-device {
  padding-bottom: 138.5%;
}
.pp-device-type-tablet .pp-device-media {
  top: 8%;
}
.pp-device-type-tablet .pp-device-media-inner {
  padding-bottom: 129.2%;
}

.pp-device-type-laptop .pp-device-wrap {
  width: 645px;
}
.pp-device-type-laptop .pp-device {
  padding-bottom: 57.4%;
}
.pp-device-type-laptop .pp-device-media {
  top: 6%;
  width: 76%;
}
.pp-device-type-laptop .pp-device-media-inner {
  padding-bottom: 64%;
}

.pp-device-type-desktop .pp-device-wrap {
  width: 645px;
}
.pp-device-type-desktop .pp-device {
  padding-bottom: 88.49162%;
}
.pp-device-type-desktop .pp-device-media {
  top: 5%;
  width: 92.2905%;
}
.pp-device-type-desktop .pp-device-media-inner {
  padding-bottom: 56.41646%;
}

.pp-device-type-window .pp-device-wrap {
  width: 1000px;
}
.pp-device-type-window .pp-device {
  padding-bottom: 66%;
}
.pp-device-type-window .pp-device-media {
  -webkit-transform: none;
          transform: none;
  top: 7%;
  right: auto;
  border-radius: 0;
  width: 100%;
}
.pp-device-type-window .pp-device-media-inner {
  padding-bottom: 60%;
}

.pp-device-orientation-landscape .pp-device-body {
  width: 48.2578%;
  top: 50.5%;
  right: 50%;
  position: absolute;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.pp-device-orientation-landscape .pp-device-body svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.pp-device-orientation-landscape .pp-device-media {
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(50%);
          transform: translateY(-50%) translateX(50%);
  width: 76%;
}
.pp-device-orientation-landscape.pp-device-type-phone .pp-device-wrap {
  width: 574px;
}
.pp-device-orientation-landscape.pp-device-type-phone .pp-device {
  padding-bottom: 48.25784%;
}
.pp-device-orientation-landscape.pp-device-type-phone .pp-device-media-inner {
  padding-bottom: 56.25%;
}
.pp-device-orientation-landscape.pp-device-type-iphone-13 .pp-device-wrap {
  width: 574px;
}
.pp-device-orientation-landscape.pp-device-type-iphone-13 .pp-device {
  padding-bottom: 48.25784%;
}
.pp-device-orientation-landscape.pp-device-type-iphone-13 .pp-device-media {
  top: 50.58%;
  width: 95.6%;
}
.pp-device-orientation-landscape.pp-device-type-iphone-13 .pp-device-media-inner {
  padding-bottom: 46.59%;
}
.pp-device-orientation-landscape.pp-device-type-iphone-16 .pp-device-wrap {
  width: 574px;
}
.pp-device-orientation-landscape.pp-device-type-iphone-16 .pp-device {
  padding-bottom: 48.25784%;
}
.pp-device-orientation-landscape.pp-device-type-iphone-16 .pp-device-media {
  top: 50.58%;
  width: 96.7%;
}
.pp-device-orientation-landscape.pp-device-type-iphone-16 .pp-device-media-inner {
  padding-bottom: 47.16%;
}
.pp-device-orientation-landscape.pp-device-type-tablet .pp-device-wrap {
  width: 595px;
}
.pp-device-orientation-landscape.pp-device-type-tablet .pp-device {
  padding-bottom: 73%;
}
.pp-device-orientation-landscape.pp-device-type-tablet .pp-device-body {
  width: 72.26%;
}
.pp-device-orientation-landscape.pp-device-type-tablet .pp-device-media {
  width: 87%;
}
.pp-device-orientation-landscape.pp-device-type-tablet .pp-device-media-inner {
  padding-bottom: 75%;
}
.pp-device-orientation-landscape.pp-device-type-tablet .pp-video-player {
  height: 100%;
}

.pp-device-orientation {
  position: absolute;
  bottom: 0;
  right: 50%;
  z-index: 99;
  -webkit-transform: translateY(calc(100% + 24px)) translateX(50%);
          transform: translateY(calc(100% + 24px)) translateX(50%);
  font-size: 28px;
  color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.42, 0, 0.2, 1);
  color: lightgrey;
  text-align: center;
}

.pp-device-orientation:hover {
  color: rgba(0, 0, 0, 0.4);
}

.pp-device-orientation .pp-mobile-icon-portrait {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.pp-device.pp-has-orientation-control {
  margin-bottom: 62px;
}

.pp-scrollable .pp-device-screen {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow-y: auto;
}
.pp-scrollable .pp-device-screen-image figure {
  height: auto;
}

.pp-device-slider-wrapper .pp-device-screen {
  overflow: unset;
}

.pp-device .swiper-container-wrap,
.pp-device-slider {
  position: relative;
  height: 100%;
  width: 100%;
}

.pp-device .swiper-container:not(.swiper-container-initialized) > .swiper-wrapper {
  overflow: visible;
}