.pp-icon {
  display: inline-block;
  line-height: 1;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pp-icon i,
.pp-icon svg {
  width: 1em;
  height: 1em;
  position: relative;
  display: block;
}

.pp-timeline .pp-timeline-card-title {
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}
.pp-timeline .pp-timeline-card-title a {
  color: inherit;
}

.pp-timeline-vertical {
  position: relative;
}
.pp-timeline-vertical .pp-timeline-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}
.pp-timeline-vertical .pp-timeline-item.pp-timeline-item-hidden .pp-timeline-card-wrapper {
  visibility: hidden;
}
.pp-timeline-vertical .pp-timeline-item.bounce-in .pp-timeline-card-wrapper {
  visibility: visible;
  -webkit-animation: 1s pp-bounce-odd;
          animation: 1s pp-bounce-odd;
}
.pp-timeline-vertical .pp-timeline-item:nth-of-type(even).bounce-in .pp-timeline-card-wrapper {
  visibility: visible;
  -webkit-animation: 1s pp-bounce-even;
          animation: 1s pp-bounce-even;
}
.pp-timeline-vertical .pp-timeline-item .pp-timeline-card-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.pp-timeline-vertical .pp-timeline-item:last-child {
  margin-bottom: 0;
}
.pp-timeline-vertical .pp-timeline-card-date-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.pp-timeline-vertical .pp-timeline-connector-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
}
.pp-timeline-vertical .pp-timeline-connector {
  position: absolute;
  background: #ccc;
  width: 4px;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.pp-timeline-vertical .pp-timeline-connector-inner {
  background: #111;
}
.pp-timeline-vertical .pp-timeline-arrow {
  width: 10px;
  right: 0;
  top: 0;
}
.pp-timeline-vertical .pp-timeline-arrow:after {
  border-bottom: 10px solid transparent;
  border-left: 10px solid currentColor;
}
.pp-timeline-vertical.pp-timeline-left .pp-timeline-connector-wrap {
  left: 0;
}
.pp-timeline-vertical.pp-timeline-left .pp-timeline-marker-wrapper {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.pp-timeline-vertical.pp-timeline-left .pp-timeline-card-wrapper {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-right: 0;
}
.pp-timeline-vertical.pp-timeline-center .pp-timeline-connector-wrap {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.pp-timeline-vertical.pp-timeline-center .pp-timeline-item.pp-timeline-item-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.pp-timeline-vertical.pp-timeline-center .pp-timeline-item.pp-timeline-item-right .pp-timeline-card-date-wrapper {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.pp-timeline-vertical.pp-timeline-center .pp-timeline-item.pp-timeline-item-right .pp-timeline-card-wrapper {
  padding-left: 10px;
  padding-right: 0;
}
.pp-timeline-vertical.pp-timeline-center .pp-timeline-card-date {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.pp-timeline-vertical.pp-timeline-center .pp-timeline-card .pp-timeline-card-date {
  display: none;
}
.pp-timeline-vertical.pp-timeline-center .pp-timeline-card-wrapper {
  padding-left: 0;
}
.pp-timeline-vertical.pp-timeline-center .pp-timeline-card-wrapper,
.pp-timeline-vertical.pp-timeline-center .pp-timeline-card-date-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.pp-timeline-vertical.pp-timeline-right .pp-timeline-connector-wrap {
  right: 0;
}
.pp-timeline-vertical.pp-timeline-right .pp-timeline-card-wrapper {
  padding-left: 0;
}
.pp-timeline-vertical.pp-timeline-left .pp-timeline-arrow, .pp-timeline-vertical.pp-timeline-center .pp-timeline-item.pp-timeline-item-right .pp-timeline-arrow {
  left: 0;
  right: auto;
}
.pp-timeline-vertical.pp-timeline-left .pp-timeline-arrow:after, .pp-timeline-vertical.pp-timeline-center .pp-timeline-item.pp-timeline-item-right .pp-timeline-arrow:after {
  border-right: 10px solid currentColor;
  border-left: none;
}
.pp-timeline-vertical.pp-timeline-left .pp-timeline-card-date-wrapper, .pp-timeline-vertical.pp-timeline-right .pp-timeline-card-date-wrapper {
  display: none;
}

.pp-timeline-horizontal {
  margin-top: 20px;
}
.pp-timeline-horizontal .pp-timeline-item {
  padding-left: 10px;
}
.pp-timeline-horizontal .pp-timeline-card-wrapper {
  padding-left: 0;
  padding-right: 0;
}
.pp-timeline-horizontal .slick-list {
  margin: 0 -10px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 10px !important;
}
.pp-timeline-horizontal .slick-current.slick-active .pp-timeline-arrow {
  width: 20px;
  height: 20px;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.pp-timeline-horizontal .slick-current.slick-active .pp-timeline-arrow:after {
  border-bottom: 10px solid currentColor;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.pp-timeline-card-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.pp-timeline-arrow {
  color: #f1f1f1;
  position: absolute;
  height: 40px;
}
.pp-timeline-arrow:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}

.pp-timeline-arrows-middle .pp-timeline-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pp-timeline-arrows-middle .pp-timeline-arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pp-timeline-arrows-bottom .pp-timeline-item {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.pp-timeline-arrows-bottom .pp-timeline-arrow {
  top: auto;
  bottom: 0;
}

.pp-timeline-card {
  background: #f1f1f1;
  padding: 20px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}

.pp-timeline-card-image img {
  display: inline-block;
  vertical-align: middle;
}

.pp-timeline-marker {
  background-color: #111;
  border-radius: 50%;
  color: #fff;
  height: 40px;
  width: 40px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 1;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}
.pp-timeline-marker .pp-icon {
  -webkit-transition: none;
  transition: none;
}

.pp-timeline-card-date {
  display: inline-block;
}

.pp-timeline-card-title-wrap {
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}

.pp-timeline-items {
  position: relative;
}

.pp-timeline-navigation {
  position: relative;
}
.pp-timeline-navigation:before {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background: #ccc;
  display: block;
  bottom: 20px;
  top: auto;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
.pp-timeline-navigation .slick-list {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.pp-timeline-navigation .pp-timeline-marker-wrapper {
  cursor: pointer;
  text-align: center;
}

.pp-timeline-navigation-wrap {
  position: relative;
}
.pp-timeline-navigation-wrap .pp-slider-arrow {
  -webkit-transform: none;
          transform: none;
  top: auto;
  bottom: 20px;
  padding: 0;
  height: 40px;
  width: 40px;
}
.pp-timeline-navigation-wrap .pp-arrow-prev {
  background: #ccc;
  left: -20px;
}
.pp-timeline-navigation-wrap .pp-arrow-next {
  background: #ccc;
  right: -20px;
}

.pp-timeline-marker-wrapper:focus,
.pp-timeline-item:focus {
  outline: none;
}

.pp-timeline-equal-height .slick-slide > div,
.pp-timeline-equal-height .pp-timeline-item,
.pp-timeline-equal-height .pp-timeline-card-wrapper,
.pp-timeline-equal-height .pp-timeline-card {
  height: 100%;
}

@-webkit-keyframes pp-bounce-even {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes pp-bounce-even {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes pp-bounce-odd {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes pp-bounce-odd {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}