.pp-icon {
  display: inline-block;
  line-height: 1;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pp-icon i,
.pp-icon svg {
  width: 1em;
  height: 1em;
  position: relative;
  display: block;
}

.pp-modal-popup-window {
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  width: 100%;
}
.pp-modal-popup-window p:last-child {
  margin-bottom: 0;
}
.mfp-content .pp-modal-popup-window {
  display: block;
}
.pp-modal-popup-window .mfp-iframe-scaler iframe {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.pp-modal-popup-window img.mfp-img {
  padding: 0;
}
.pp-modal-popup-window .mfp-close {
  text-align: center;
  line-height: 1;
  padding: 0;
  height: auto;
  width: auto;
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.pp-modal-popup-standard .mfp-iframe-holder .mfp-content {
  max-width: 100%;
}

.pp-modal-popup-link {
  cursor: pointer;
}

.pp-popup-content {
  overflow: hidden;
}

.modal-popup-window-inner {
  position: relative;
}

.pp-modal-popup-button {
  cursor: pointer;
}

.pp-no-overlay.mfp-bg {
  background: transparent;
}

.pp-modal-popup-fullscreen .mfp-container {
  padding: 0;
}
.pp-modal-popup-fullscreen .mfp-container .mfp-content,
.pp-modal-popup-fullscreen .mfp-container .pp-modal-popup-window {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.win-top-right .mfp-content,
.win-top-right .pp-modal-popup-window,
.win-top-left .mfp-content,
.win-top-left .pp-modal-popup-window {
  position: static;
}

.win-top-left .pp-modal-popup-window .mfp-close,
.box-top-left .pp-modal-popup-window .mfp-close {
  left: 0;
  right: auto;
}

.win-top-left .mfp-close,
.win-top-right .mfp-close {
  top: 50px;
}

.win-top-left .mfp-close {
  left: 50px;
}

.win-top-right .mfp-close {
  right: 50px;
}

.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .pp-modal-popup-window {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .pp-modal-popup-window {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .pp-modal-popup-window {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-zoom-out {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-out .pp-modal-popup-window {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.mfp-zoom-out.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mfp-zoom-out.mfp-ready .pp-modal-popup-window {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.mfp-zoom-out.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-out.mfp-removing .pp-modal-popup-window {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 0;
}
.mfp-zoom-out.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-move-from-top {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-from-top .mfp-content {
  vertical-align: middle;
}
.mfp-move-from-top .pp-modal-popup-window {
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
}
.mfp-move-from-top.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.mfp-move-from-top.mfp-ready .pp-modal-popup-window {
  opacity: 1;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.mfp-move-from-top.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-from-top.mfp-removing .pp-modal-popup-window {
  top: 0;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
  opacity: 0;
}
.mfp-move-from-top.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-3d-unfold {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-3d-unfold .mfp-content {
  -webkit-perspective: 2000px;
          perspective: 2000px;
}
.mfp-3d-unfold .pp-modal-popup-window {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateY(-60deg);
          transform: rotateY(-60deg);
}
.mfp-3d-unfold.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.mfp-3d-unfold.mfp-ready .pp-modal-popup-window {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.mfp-3d-unfold.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-3d-unfold.mfp-removing .pp-modal-popup-window {
  -webkit-transform: rotateY(60deg);
          transform: rotateY(60deg);
  opacity: 0;
}
.mfp-3d-unfold.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-move-right {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-right .pp-modal-popup-window {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}
.mfp-move-right.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.mfp-move-right.mfp-ready .pp-modal-popup-window {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mfp-move-right.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-right.mfp-removing .pp-modal-popup-window {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  opacity: 0;
}
.mfp-move-right.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-move-left {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-left .pp-modal-popup-window {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}
.mfp-move-left.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.mfp-move-left.mfp-ready .pp-modal-popup-window {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mfp-move-left.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-left.mfp-removing .pp-modal-popup-window {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
}
.mfp-move-left.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-newspaper {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-newspaper .pp-modal-popup-window {
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(0) rotate(500deg);
          transform: scale(0) rotate(500deg);
}
.mfp-newspaper.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.mfp-newspaper.mfp-ready .pp-modal-popup-window {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
}
.mfp-newspaper.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-newspaper.mfp-removing .pp-modal-popup-window {
  -webkit-transform: scale(0) rotate(500deg);
          transform: scale(0) rotate(500deg);
  opacity: 0;
}
.mfp-newspaper.mfp-removing.mfp-bg {
  opacity: 0;
}