.elementor-widget-pp-info-box-carousel .swiper,
.elementor-widget-pp-info-box-carousel .swiper-container {
  position: static;
}

.pp-icon {
  display: inline-block;
  line-height: 1;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pp-icon i,
.pp-icon svg {
  width: 1em;
  height: 1em;
  position: relative;
  display: block;
}

.pp-info-box-container {
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}
.pp-info-box-container:not(.elementor-grid) {
  display: block;
}

.pp-info-box .pp-info-box-icon {
  display: inline-block;
  line-height: 1;
  max-width: 100%;
}
.pp-info-box .pp-info-box-icon .fa {
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  width: 1em;
  height: 1em;
}
.pp-info-box .pp-info-box-icon img {
  vertical-align: middle;
}
.pp-info-box-divider-wrap {
  font-size: 0;
  line-height: 0;
}
.pp-info-box-divider {
  display: inline-block;
}
.pp-info-box-equal-height .pp-info-box {
  height: 100%;
}
.pp-info-box .pp-info-box-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pp-info-box-above-title .pp-info-box,
.pp-info-box-below-title .pp-info-box {
  text-align: center;
}

.pp-info-box-left .pp-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.pp-info-box-left .pp-info-box .pp-info-box-icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 20px;
}
.pp-info-box-left .pp-info-box .pp-info-box-icon,
.pp-info-box-left .pp-info-box img {
  width: 100%;
}

.pp-info-box-right .pp-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: left;
}
.pp-info-box-right .pp-info-box .pp-info-box-icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 20px;
}
.pp-info-box-right .pp-info-box .pp-info-box-icon,
.pp-info-box-right .pp-info-box img {
  width: 100%;
}

.pp-info-box-icon-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pp-info-box-icon-title-wrap .pp-info-box-icon-wrap {
  margin-left: 20px;
}
.pp-info-box-icon-title-wrap .pp-info-box-title-wrap {
  width: 100%;
}

.pp-info-box-right-title .pp-info-box {
  text-align: left;
}
.pp-info-box-right-title .pp-info-box-icon-wrap {
  margin-right: 20px;
}
.pp-info-box-right-title .pp-info-box-icon-title-wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.pp-info-box-carousel .pp-info-box-content-wrap {
  overflow: hidden;
}

.pp-info-box-description p:last-child {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .pp-info-box-tablet-top .pp-info-box {
    display: inline-block;
  }
  .pp-info-box-tablet-top .pp-info-box .pp-info-box-icon-wrap {
    display: inline-block;
    margin: 0;
  }
  .pp-info-box-tablet-top .pp-info-box .pp-info-box-icon {
    margin-left: auto;
  }
  .pp-info-box-tablet-left .pp-info-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .pp-info-box-tablet-left .pp-info-box .pp-info-box-icon-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 20px;
  }
  .pp-info-box-tablet-left .pp-info-box .pp-info-box-icon,
  .pp-info-box-tablet-left .pp-info-box img {
    width: 100%;
  }
  .pp-info-box-tablet-right .pp-info-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .pp-info-box-tablet-right .pp-info-box .pp-info-box-icon-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px;
  }
  .pp-info-box-tablet-right .pp-info-box .pp-info-box-icon,
  .pp-info-box-tablet-right .pp-info-box img {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .pp-info-box-mobile-top .pp-info-box {
    display: inline-block;
  }
  .pp-info-box-mobile-top .pp-info-box .pp-info-box-icon-wrap {
    display: inline-block;
    margin: 0;
  }
  .pp-info-box-mobile-top .pp-info-box .pp-info-box-icon {
    margin-left: auto;
  }
  .pp-info-box-mobile-left .pp-info-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .pp-info-box-mobile-left .pp-info-box .pp-info-box-icon-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 20px;
  }
  .pp-info-box-mobile-left .pp-info-box .pp-info-box-icon,
  .pp-info-box-mobile-left .pp-info-box img {
    width: 100%;
  }
  .pp-info-box-mobile-right .pp-info-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .pp-info-box-mobile-right .pp-info-box .pp-info-box-icon-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px;
  }
  .pp-info-box-mobile-right .pp-info-box .pp-info-box-icon,
  .pp-info-box-mobile-right .pp-info-box img {
    width: 100%;
  }
}