.e-con-inner > .elementor-widget-pp-video,
.e-con > .elementor-widget-pp-video {
  width: var(--container-widget-width);
  --flex-grow: var(--container-widget-flex-grow);
}

.pp-media-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}

.pp-media-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.pp-icon {
  display: inline-block;
  line-height: 1;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pp-icon i,
.pp-icon svg {
  width: 1em;
  height: 1em;
  position: relative;
  display: block;
}

.pp-video-container {
  background-color: #000;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.pp-video-play-icon {
  cursor: pointer;
  font-size: 80px;
  right: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  text-align: center;
  z-index: 10;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}
.pp-video-play-icon img {
  display: block;
}

.pp-video-player .pp-video-thumb,
.pp-video-player iframe,
.pp-video-player video {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
.pp-video-player .pp-video-thumb {
  border: none;
  bottom: 0;
  cursor: pointer;
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  left: 0;
  margin: 0;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
}
.pp-video-player iframe {
  height: 100%;
  z-index: 1;
}
.pp-video-player .pp-media-content {
  z-index: 2;
}

.pp-video {
  position: relative;
}
.pp-video .pp-video-player .pp-video-thumb {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pp-video-overlay {
  z-index: 1;
}