@import "../mixins/mixins-master";

.pp-icon {
	display: inline-block;
	line-height: 1;
	text-align: center;
    transition: all .3s;
}
.pp-icon i,
.pp-icon svg {
    width: 1em;
    height: 1em;
    position: relative;
    display: block;
}
.pp-image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.pp-device-wrap {
    margin: 0 auto;
    display: inline-block;
    max-width: 100%;
	width: 280px;
    transition: .3s cubic-bezier(.42,0,.2,1);
    transition-property: width,padding-bottom;
}
.pp-device-container {
    width: 100%;
    text-align: center;
    transition: .3s cubic-bezier(.42,0,.2,1);
}
.pp-device {
    position: relative;
    height: 0;
    padding-bottom: 207.22022%;
    max-width: 100%;
    width: 100%;
    transition: all .3s cubic-bezier(.42,0,.2,1);
	.pp-video {
		height: 100%;
		width: 100%;
	}
	.pp-video-container {
		padding: 0;
		height: 100%;
		overflow: visible;
	}
}
.pp-device-body {
    width: 100%;
}
.pp-device-body svg {
    display: block;
	transform: rotate(0deg);
    transition: all .3s cubic-bezier(.42,0,.2,1);
}
.pp-device-media {
    position: absolute;
    left: 50%;
    transition: all .3s cubic-bezier(.42,0,.2,1);
    border-radius: 3px;
    transform: translateX(-50%);
    width: 90.69767%;
    top: 10.8%;
    background: rgba(255,255,255,.2);
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    border-radius: 3px;
    transition: all .3s cubic-bezier(.42,0,.2,1);
    z-index: 1;
    align-items: flex-start;
    flex-direction: row;
	img {
		vertical-align: middle;
	}
}
.pp-device-media-inner {
    background-color: rgba(255,255,255,.2);
    position: relative;
    left: 0;
    width: 100%;
    height: 0;
	padding-bottom: 177.77778%;
    transition: all .3s cubic-bezier(.42,0,.2,1);
}
.pp-device-screen {
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    border-radius: 3px;
    transition: all .3s cubic-bezier(.42,0,.2,1);
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
}
.pp-device-screen-play {
	cursor: pointer;
}
.pp-device-image-fit-cover,
.pp-device-image-fit-fill {
	.pp-device-screen-image {
		figure {
			height: 100%;
			width: 100%;
		}
		img {
			height: 100%;
			width: 100%;
			object-position: center;
		}
	}
}
.pp-device-image-fit-cover {
	.pp-device-screen-image {
		img {
			object-fit: cover;
		}
	}
}
.pp-device-image-fit-fill {
	.pp-device-screen-image {
		img {
			object-fit: fill;
		}
	}
}
.pp-player-controls-overlay {
    text-align: center;
    position: absolute;
	left: 0;
    top: 50%;
	transform: translateY(-50%);
    width: 100%;
	z-index: 10;
}
.pp-player-controls-rewind .fa-redo,
.pp-player-controls-rewind .e-fas-fa-redo {
    transform: scaleX(-1);
    filter: FlipH;
}
.pp-video-container {
    background-color: #000;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.pp-video-play-icon {
    cursor: pointer;
    font-size: 80px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 10;
    transition: .25s all;
    img {
        display: block;
    }
}
.pp-video-play {
    color: #333;
}
.pp-video-player {
    .pp-video-thumb,
    iframe,
	video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .pp-video-thumb {
        border: none;
        bottom: 0;
        cursor: pointer;
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
        right: 0;
        margin: 0;
        transition: .25s all;
    }
    iframe {
        height: 100%;
        z-index: 1;
    }
    .pp-media-content {
        z-index: 2;
    }
}
.pp-video {
    position: relative;
    .pp-video-player .pp-video-thumb {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.pp-video-button {
    color: #000000;
    background-color: #FFFFFF;
    opacity: 0.9;
    padding: 2%;
    cursor: pointer;
    display: inline-table !important;
}
.pp-video-button::before {
    font-size: 25px;
    vertical-align: middle;
}
.pp-video-player-controls {
	transition: opacity .2s linear;
}
.pp-video-player-controls-bar-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    transition: transform .4s cubic-bezier(.42,0,.2,1);
}
.pp-device-screen.pp-playing {
	.pp-video-player-controls-bar-wrapper {
		z-index: 2;
	}
}
.pp-player-controls-bar {
	background-color: #fff;
    display: flex;
    align-items: center;
    padding: 6px 2px;
	.pp-player-controls-time,
	.pp-player-controls-duration {
		padding: 3px;
		font-size: 12px;
	}
}
.pp-player-control-icon,
.pp-player-controls-progress {
	cursor: pointer;
}
.pp-player-control-icon {
	cursor: pointer;
	font-size: 12px;
	padding: 0 6px;
}
.pp-player-controls-progress {
    margin: 0 2px;
    height: .6em;
	position: relative;
    transform: translate3d(0,0,0);
    overflow: hidden;
    flex-grow: 1;
}
.pp-player-control-progress-inner {
	background: #000;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    transition: background-color .2s linear;
}
.pp-player-controls-progress-time,
.pp-player-controls-volume-bar-track {
	opacity: 0.2;
    right: 0;
}
.pp-player-controls-volume {
	display: contents;
}
.pp-player-controls-volume-bar {
	flex-grow: .5;
}
.pp-player-controls-volume-bar-amount {
	width: 100%;
}
.pp-device-screen.pp-playing {
	.pp-video-player-controls {
		opacity: 0;
	}
	&:hover {
		.pp-video-player-controls {
			opacity: 1;
		}	
	}
}
.pp-device-type-laptop,
.pp-device-type-window {
	.pp-video-player {
		height: 100%;
	}
}
.pp-video-player video {
    display: block;
    width: 100%;
    height: 100%;
}
.pp-video-player video {
    object-fit: cover;
}
.pp-device-body svg .overlay-shape {
	fill-opacity: 0.4;
}
.pp-device-body svg .borders-shape {
	fill-opacity: 0.1;
}
.pp-device-type-phone {
	.pp-device-media {
		top: 11.7%;
		width: 88.80866%;
		transform: translateX(-50%);
	}
}
.pp-device-type-iphone-13 {
	.pp-device-wrap {
		width: 285px;
	}
	.pp-device {
		padding-bottom: 204.22022%;
	}
	.pp-device-body {
		pointer-events: none;
		position: relative;
		z-index: 5;
	}
	.pp-device-media {
		border-radius: 6%;
		top: 1.55%;
		width: 92.46%;
	}
	.pp-device-media-inner {
		padding-bottom: 213.87%;
	}
}
.pp-device-type-iphone-16 {
	.pp-device-wrap {
		width: 285px;
	}
	.pp-device {
		padding-bottom: 204.22022%;
	}
	.pp-device-body {
		pointer-events: none;
		position: relative;
		z-index: 5;
	}
	.pp-device-media {
		border-radius: 6%;
		top: 1.07%;
		width: 94.65%;
	}
	.pp-device-media-inner {
		padding-bottom: 211.37%;
	}
}
.pp-device-type-tablet {
	.pp-device-wrap {
		width: 430px;
	}
	.pp-device {
		padding-bottom: 138.5%;
	}
	.pp-device-media {
		top: 8%;
	}
	.pp-device-media-inner {
		padding-bottom: 129.2%;
	}
}
.pp-device-type-laptop {
	.pp-device-wrap {
		width: 645px;
	}
	.pp-device {
		padding-bottom: 57.4%;
	}
	.pp-device-media {
    	top: 6%;
		width: 76%;
	}
	.pp-device-media-inner {
		padding-bottom: 64%;
	}
}
.pp-device-type-desktop {
	.pp-device-wrap {
		width: 645px;
	}
	.pp-device {
		padding-bottom: 88.49162%;
	}
	.pp-device-media {
    	top: 5%;
		width: 92.2905%;
	}
	.pp-device-media-inner {
		padding-bottom: 56.41646%;
	}
}
.pp-device-type-window {
	.pp-device-wrap {
		width: 1000px;
	}
	.pp-device {
		padding-bottom: 66%;
	}
	.pp-device-media {
    	transform: none;
		top: 7%;
		left: auto;
		border-radius: 0;
		width: 100%;
	}
	.pp-device-media-inner {
		padding-bottom: 60%;
	}
}
.pp-device-orientation-landscape {
	.pp-device-body {
		width: 48.2578%;
		top: 50.5%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		svg {
			transform: rotate(90deg);
		}
	}
	.pp-device-media {
		top: 50%;
		transform: translateY(-50%) translateX(-50%);
		width: 76%;
	}
	&.pp-device-type-phone {
		.pp-device-wrap {
			width: 574px;
		}
		.pp-device {
			padding-bottom: 48.25784%;
		}
		.pp-device-media-inner {
			padding-bottom: 56.25%;
		}
	}
	&.pp-device-type-iphone-13 {
		.pp-device-wrap {
			width: 574px;
		}
		.pp-device {
			padding-bottom: 48.25784%;
		}
		.pp-device-media {
			top: 50.58%;
			width: 95.6%;
		}
		.pp-device-media-inner {
			padding-bottom: 46.59%;
		}
	}
	&.pp-device-type-iphone-16 {
		.pp-device-wrap {
			width: 574px;
		}
		.pp-device {
			padding-bottom: 48.25784%;
		}
		.pp-device-media {
			top: 50.58%;
			width: 96.7%;
		}
		.pp-device-media-inner {
			padding-bottom: 47.16%;
		}
	}
	&.pp-device-type-tablet {
		.pp-device-wrap {
			width: 595px;
		}
		.pp-device {
			padding-bottom: 73%;
		}
		.pp-device-body {
			width: 72.26%;
		}
		.pp-device-media {
			width: 87%;
		}
		.pp-device-media-inner {
			padding-bottom: 75%;
		}
		.pp-video-player {
			height: 100%;
		}
	}
}
.pp-device-orientation {
	position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 99;
    transform: translateY(calc(100% + 24px)) translateX(-50%);
    font-size: 28px;
    color: rgba(0,0,0,.1);
    cursor: pointer;
    transition: all .3s cubic-bezier(.42,0,.2,1);
    color: lightgrey;
    text-align: center;
}
.pp-device-orientation:hover {
    color: rgba(0,0,0,.4);
}
.pp-device-orientation .pp-mobile-icon-portrait {
    transform: rotate(90deg);
}
.pp-device.pp-has-orientation-control {
    margin-bottom: 62px;
}
.pp-scrollable {
	.pp-device-screen {
		align-items: flex-start;
		overflow-y: auto;
	}
	.pp-device-screen-image {
		figure {
			height: auto;
		}
	}
}
.pp-device-slider-wrapper {
	.pp-device-screen {
		overflow: unset;
	}
}
.pp-device .swiper-container-wrap,
.pp-device-slider {
	position: relative;
	height: 100%;
	width: 100%;
}
.pp-device {
	.swiper-container:not(.swiper-container-initialized)>.swiper-wrapper {
		overflow: visible;
	}
}