@import "../mixins/mixins-master";

.e-con > .elementor-widget-pp-video-gallery,
.e-con-inner > .elementor-widget-pp-video-gallery {
    width: var(--container-widget-width);
    --flex-grow: var(--container-widget-flex-grow);
}
.pp-icon {
	display: inline-block;
	line-height: 1;
	text-align: center;
    transition: all .3s;
}
.pp-icon i,
.pp-icon svg {
    width: 1em;
    height: 1em;
    position: relative;
    display: block;
}
.pp-media-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	@include transition();
}
.pp-video-gallery {
    .pp-video-player > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
	.elementor-video {
		object-fit: cover;
		vertical-align: middle;
	}
}
.pp-video-container {
    background-color: #000;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.pp-video-play-icon {
    cursor: pointer;
    font-size: 80px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 10;
    transition: .25s all;
    img {
        display: block;
    }
}
.pp-video-play {
    color: #333;
}
.pp-video-gallery {
    li {
        background: #ccc;
        border-radius: 50%;
        position: relative;
        display: inline-block;
        margin: 0 4px;
        padding: 0;
        vertical-align: middle;
        button {
            background: transparent;
            border: 0;
            box-shadow: none;
            color: transparent;
            cursor: pointer;
            display: block;
            font-size: 0;
            line-height: 0;
            width: 10px;
            height: 10px;
            padding: 0;
            outline: none;
        }
    }
}
.pp-media-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.pp-video-gallery-content-hover,
.pp-video-gallery-content-over-image {
    .pp-media-content {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        transition: opacity 0.2s ease-in-out;
    }
}
.pp-video-gallery-content-hover {
    .pp-media-content {
        opacity: 0;
    }
    .pp-grid-item-wrap:hover {
        .pp-media-content {
            opacity: 1;
        }   
    }
}
.pp-video-player {
    .pp-video-thumb,
    iframe,
	video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .pp-video-thumb {
        border: none;
        bottom: 0;
        cursor: pointer;
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
        right: 0;
        margin: 0;
        transition: .25s all;
    }
    iframe {
        height: 100%;
        z-index: 1;
    }
    .pp-media-content {
        z-index: 2;
    }
}
.pp-video {
    position: relative;
    .pp-video-player .pp-video-thumb {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.pp-video-overlay {
    z-index: 1;
}
.pp-gallery-filters {
	margin-left: -5px;
	margin-right: -5px;
    text-align: center;
    .pp-gallery-filter {
        cursor: pointer;
        display: inline-block;
        line-height: 1;
        margin: 0 5px 18px;
		padding: 12px 0;
		position: relative;
        transition: all 0.25s linear;
    }
}