@import "../mixins/mixins-master";

.e-con-inner > .elementor-widget-pp-video,
.e-con > .elementor-widget-pp-video {
    width: var(--container-widget-width);
    --flex-grow: var(--container-widget-flex-grow);
}
.pp-media-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	@include transition();
}
.pp-media-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.pp-icon {
	display: inline-block;
	line-height: 1;
	text-align: center;
    transition: all .3s;
}
.pp-icon i,
.pp-icon svg {
    width: 1em;
    height: 1em;
    position: relative;
    display: block;
}
.pp-video-container {
    background-color: #000;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.pp-video-play-icon {
    cursor: pointer;
    font-size: 80px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 10;
    transition: .25s all;
    img {
        display: block;
    }
}
.pp-video-player {
    .pp-video-thumb,
    iframe,
	video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .pp-video-thumb {
        border: none;
        bottom: 0;
        cursor: pointer;
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
        right: 0;
        margin: 0;
        transition: .25s all;
    }
    iframe {
        height: 100%;
        z-index: 1;
    }
    .pp-media-content {
        z-index: 2;
    }
}
.pp-video {
    position: relative;
    .pp-video-player .pp-video-thumb {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.pp-video-overlay {
    z-index: 1;
}