@import "../mixins/mixins-master";

.elementor-widget-pp-info-box-carousel .swiper,
.elementor-widget-pp-info-box-carousel .swiper-container {
    position: static;
}
.pp-icon {
	display: inline-block;
	line-height: 1;
	text-align: center;
    transition: all .3s;
}
.pp-icon i,
.pp-icon svg {
    width: 1em;
    height: 1em;
    position: relative;
    display: block;
}
.pp-info-box-container {
    @include transition($target: all, $time: 0.25s, $timing-function: linear);
    &:not(.elementor-grid) {
        display: block;
    }
}
.pp-info-box {
    .pp-info-box-icon {
        display: inline-block;
        line-height: 1;
		max-width: 100%;
        .fa {
            @include transition();
            width: 1em;
            height: 1em;
        }
        img {
            vertical-align: middle;
        }
    }
    &-divider-wrap {
        font-size: 0;
        line-height: 0;
    }
    &-divider {
        display: inline-block;
    }
    .pp-info-box-equal-height & {
        height: 100%;
    }
    .pp-info-box-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}
.pp-info-box-above-title,
.pp-info-box-below-title {
    .pp-info-box {
        text-align: center;
    }
}
.pp-info-box-left {
    .pp-info-box {
    	display: flex;
        flex-direction: row;
        .pp-info-box-icon-wrap {
            display: flex;
            flex-shrink: 0;
            margin-right: 20px;
        }
        .pp-info-box-icon,
        img {
            width: 100%;
        }
    }
}
.pp-info-box-right {
    .pp-info-box {
    	display: flex;
        flex-direction: row-reverse;
        text-align: right;
        .pp-info-box-icon-wrap {
            display: flex;
            flex-shrink: 0;
            margin-left: 20px;
        }
        .pp-info-box-icon,
        img {
            width: 100%;
        }
    }
}
.pp-info-box-icon-title-wrap {
    display: flex;
    .pp-info-box-icon-wrap {
        margin-right: 20px;
    }
    .pp-info-box-title-wrap {
        width: 100%;
    }
}
.pp-info-box-right-title {
    .pp-info-box {
        text-align: right;
    }
    .pp-info-box-icon-wrap {
        margin-left: 20px;
    }
    .pp-info-box-icon-title-wrap {
        flex-direction: row-reverse;
    }
}
.pp-info-box-carousel {
	.pp-info-box-content-wrap {
		overflow: hidden;
	}
}
.pp-info-box-description {
	p:last-child {
		margin-bottom: 0;
	}
}
@media (max-width: 1024px) {
    .pp-info-box-tablet-top {
        .pp-info-box {
			display: inline-block;
            .pp-info-box-icon-wrap {
                display: inline-block;
                margin: 0;
            }
            .pp-info-box-icon {
                margin-right: auto;
            }
        }
    }
    .pp-info-box-tablet-left {
        .pp-info-box {
			display: flex;
            flex-direction: row;
            .pp-info-box-icon-wrap {
                display: flex;
                margin-right: 20px;
            }
            .pp-info-box-icon,
            img {
                width: 100%;
            }
        }
    }
    .pp-info-box-tablet-right {
        .pp-info-box {
			display: flex;
            flex-direction: row-reverse;
            .pp-info-box-icon-wrap {
                display: flex;
                margin-left: 20px;
            }
            .pp-info-box-icon,
            img {
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .pp-info-box-mobile-top {
        .pp-info-box {
			display: inline-block;
            .pp-info-box-icon-wrap {
                display: inline-block;
                margin: 0;
            }
            .pp-info-box-icon {
                margin-right: auto;
            }
        }
    }
    .pp-info-box-mobile-left {
        .pp-info-box {
			display: flex;
            flex-direction: row;
            .pp-info-box-icon-wrap {
                display: flex;
                margin-right: 20px;
            }
            .pp-info-box-icon,
            img {
                width: 100%;
            }
        }
    }
    .pp-info-box-mobile-right {
        .pp-info-box {
			display: flex;
            flex-direction: row-reverse;
            .pp-info-box-icon-wrap {
                display: flex;
                margin-left: 20px;
            }
            .pp-info-box-icon,
            img {
                width: 100%;
            }
        }
    }
}